<!-- <div class="row no-padding no-margin">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xlg-6">
		{{ title }}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xlg-2">
		<a href="/exam/{{ _id }}/do" ><button class="btn">ทำข้อสอบ</button></a>
	</div>
	{{#if brought}}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xlg-2">
		<a href="/exam/{{ _id }}/answer-sheet" ><button class="btn">เฉลย</button></a>
	</div>
	{{else}}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xlg-2">
		<span class="glyphicon glyphicon-lock" aria-hidden="true" style="margin: auto;"></span>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xlg-2">
		<button onclick="unlockAlert('{{ _id }}','{{ sub }}','{{ lv }}',{{ price }})" class="btn">ปลดล็อค</button>
	</div>
	{{/if }}
</div> -->
<div class="row no-padding no-margin">
	<div class="col-xs-12 col-sm-12">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<td>
						<div style="font-size: 25px;">{{ title }}</div>
					</td>
					<td>
						<a href="/exam/{{ _id }}/do" ><button class="btn">ทำข้อสอบ</button></a>
					</td>
					<td>
						<a href="/exam/{{ _id }}/answer-sheet" ><button class="btn">เฉลย</button></a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
function unlock(_examId,_sub,_level,_price){
	$.ajax({
		url: '/api/add-asset',
		type: 'POST',
		data : {
			cat : 'exams',
            rela : 'buy',
            examId : _examId,
            sub : _sub,
            level : _level,
            price : _price
		},
		success: function(result) {
			// Do something with the result
			location.reload();
		}
	});
}

function unlockAlert(_examId,_sub,_level,_price) {
    if (confirm("Buy confirm ?") == true) {
    	unlock(_examId,_sub,_level,_price);
    } else {
    }
}
</script>
