<!-- <div class="col-xs-6 col-sm-6 col-md-4 col-lg-1-5-s sm-margin white-card thin-border no-padding no-margin">
    <div class="card" >
        <a href="/category/{{ subject }}/{{ title }}" >
            <img class="card-img-top fit-div-img-index" src="{{ img_url }}" alt="Card image cap">
            <div class="overlay">
                <div class="text">{{ title }}</div>
            </div>
        </a>
        <div class="card-block" style="padding:10px">
            <a href="/category/{{ subject }}/{{ title }}" >
                <h4 style="color:black;" class="card-title">{{ title }}</h4>
            </a>
            {{#if total_exam}}
            <p class="card-text text-muted">จำนวน {{ total_exam }} ชุด</p>
            {{else}}
            <p class="card-text text-muted">เร็ว ๆ นี้</p>
            {{/if}}
            {{> star-list n=rating}}
        </div>
    </div>
</div> -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5-s">
  <div class="card white-card">
      <a href="/category/{{ subject }}/{{ title }}" >
          <img class="card-img-top fit-div-img-index" src="{{ img_url }}" alt="Card image cap">
          <div class="overlay">
              <div class="text">{{ title }}</div>
          </div>
      </a>
      <div class="card-block" style="padding:10px">
          <a href="/category/{{ subject }}/{{ title }}" >
              <h4 style="color:black;" class="card-title">{{ title }}</h4>
          </a>
          {{#if total_exam}}
          <p class="card-text text-muted">จำนวน {{ total_exam }} ชุด</p>
          {{else}}
          <p class="card-text text-muted">เร็ว ๆ นี้</p>
          {{/if}}
          {{> star-list n=rating}}
      </div>
  </div>
</div>
