<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="background-color: white; min-height:58px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/images/logo.png" style="width: 50px; height: 50px; margin-top:-10px;">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="searchbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/profile"  class="hidden-xs">
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="hidden-xs">
                        <i class="fa fa-bars fa-2x"></i>
                    </a>
                </li>
            </ul>
            <form class="navbar-form">
                <div class="form-group" style="display:inline; margin-top:5px; ">
                    <div class="input-group" style="display:table;">
                        <input class="form-control" name="search" placeholder="Search Here" autocomplete="off"
                        autofocus="autofocus" type="text" style="height: 44px;">
                        <span class="input-group-addon" style="width:1%;"><span
                        class="fa fa-search fa"></span></span>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>