<li  style="display:table-cell;width:100%">
	<a href="#nav-{{ _id }}" class="no-round"
		style="white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 315px;">
		{{#switch type}}
		{{#case "topic"}}
		{{ detail.text }}
		{{/case}}
		{{#case "question-choice"}}
		{{ detail.question }}
		{{/case}}
		{{/switch}}
	</a>
	<hr>
</li>