{{!-- Do --}}
{{#if mode-do}}
<div class="radio">
	<label><input id="{{ qId }}" type="radio" name="{{ qId }}" value="{{ @index }}">{{ text }}</label>
</div>
{{/if}}
{{!-- Answersheet --}}
{{#if mode-answer-sheet}}
<div class="radio">
	{{#equal answer @index }}
	<label><input id="{{ qId }}" type="radio" name="{{ qId }}" value="{{ @index }}" checked>{{ text }}</label>
	{{/equal}}
	{{#notequal answer @index }}
	<label><input id="{{ qId }}" type="radio" name="{{ qId }}" value="{{ @index }}">{{ text }}</label>
	{{/notequal}}
</div>
{{/if}}
{{!-- Readonly --}}
{{#if mode-view}}
<div class="radio">
	<label><input id="{{ qId }}" type="radio" name="{{ qId }}" value="{{ @index }}">{{ text }}</label>
</div>
{{/if}}