<div class="row no-padding no-margin md-margin">
	<img src="https://s3-ap-southeast-1.amazonaws.com/com.sachool.www/users/Ub4bb0cf130b4bb4e8c6b106989ae63c1/user-profile" class="img-circle col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xlg-2">
	<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xlg-offset-1 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xlg-8 no-padding no-margin"
	style="margin-left:10px;margin-bottom:10px;">
		<b>{{ username }}</b> <br>{{> star-list n = detail.rating}}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 no-padding md-margin" >
		{{ detail.text }}
	</div>
</div>
{{!-- <div class="row no-padding no-margin">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		{{> star-list n = detail.rating}}
	</div>
</div> --}}
{{!-- <div class="row no-padding no-margin">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		{{ detail.text }}
	</div>
</div> --}}