<div id="sidebar-wrapper">
	<ul class="sidebar-nav nav-pills">
		<div class="btn-group btn-group-justified">
			<a href="#" class="btn btn-success"
				style="
				color:black;
				border-color:#8F8F8F">
				<span class="glyphicon glyphicon-play"></span><br>
			</a>
			<a href="#" class="btn btn-success"
				style="
				color:black;
				border-color:#8F8F8F">
				<span class="glyphicon glyphicon-pause"></span><br>
			</a>
			<a href="#" class="btn btn-success"
				onclick="document.getElementById('examSend').submit();"
				style="
				color:black;
				border-color:#8F8F8F">
				<span class="glyphicon glyphicon-list"></span><br>
			</a>
			<a href="#" class="btn btn-success"
				style="
				color:black;
				border-color:#8F8F8F">
				<span class="glyphicon glyphicon-check"></span><br>
			</a>
		</div>
		{{#each list}}
		{{> nav-item}}
		{{/each}}
	</ul>
</div>