{{!-- Do --}}
{{#if mode-do}}
<div id="nav-{{ id }}">
	<h5>{{ data.text }}</h5>
</div>
{{/if}}
{{!-- Read-only --}}
{{#if mode-view}}
<div class="row no-padding no-margin">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xlg-6 no-padding no-margin">
		<h5>{{ data.text }}</h5>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xlg-6 no-padding no-margin" align="center">
		<a href="/backoffice/edit-element/{{ _id }}" ><button type="button" class="btn">แก้ไข</button></a>
		<button type="button" class="btn btn-danger" onclick="delAlert('{{ _id }}')">ลบ</button>
	</div>
</div>
{{/if}}
{{!-- Edit --}}
{{#if mode-edit}}
<div id="nav-{{ id }}">
	<h5>{{ data.text }}</h5>
</div>
{{/if}}
{{!-- Answersheet --}}
{{#if mode-answer-sheet}}
<div id="nav-{{ id }}">
	<h5>{{ data.text }}</h5>
</div>
{{/if}}

<script type="text/javascript">
function delElement(_elementId){
	$.ajax({
		url: '/backoffice/edit-element/' + _elementId,
		type: 'DELETE',
		success: function(result) {
		// Do something with the result
			location.reload();
		}
	});
}

function delAlert(_elementId) {
    if (confirm("Are you sure to delete it ?") == true) {
    	delElement(_elementId);
    } else {
    }
}
</script>