<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!-- Bootstrap Core CSS -->
	    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="/stylesheets/heroic-features.css" rel="stylesheet">
	    {{!-- <link href="/stylesheets/ct-navbar.css.css" rel="stylesheet"> --}}

	    <!-- Font Awesome -->
	    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" >

	    <!-- HTML5 Shim and Respond
		     IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

	    <!-- Google Font-->
	    <link href="https://fonts.googleapis.com/css?family=Prompt:200,400,700,900" rel="stylesheet">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
	    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Kanit:200,400,600,600i,900" rel="stylesheet">
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

		{{!-- Nat --}}
		<link href="/stylesheets/nat-util.css" rel="stylesheet">

		{{!-- Side-bar --}}
		<link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

	</head>
	<body data-spy="scroll" data-target=".navbar">
		{{{body}}}
	</body>
	<script src="/javascripts/bootstrap.min.js"></script>
</html>
