{{!-- Add new --}}
{{#if mode-add}}
<div class="row">
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		<label for="text">Topic :</label>
		<input name="text" type="text" class="form-control" id="text">
	</div>
</div>
{{/if}}
{{!-- Edit --}}
{{#if mode-edit}}
<div class="row">
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		<label for="text">Topic :</label>
		<input name="text" type="text" class="form-control" id="text" value="{{ data.detail.text }}">
	</div>
</div>
{{/if}}