{{!-- Add new --}}
{{#if mode-add}}
<div class="row">
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		<label for="question">Question :</label>
		<input name="question" type="text" class="form-control" id="question">
	</div>
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		<div class="radio">
			<label><input  type="radio" name="answer" value="0"><input name="0" type="text" class="form-control" id="0"></label>
		</div>
		<div class="radio">
			<label><input  type="radio" name="answer" value="1"><input name="1" type="text" class="form-control" id="1"></label>
		</div>
		<div class="radio">
			<label><input  type="radio" name="answer" value="2"><input name="2" type="text" class="form-control" id="2"></label>
		</div>
		<div class="radio">
			<label><input  type="radio" name="answer" value="3"><input name="3" type="text" class="form-control" id="3"></label>
		</div>
	</div>
</div>
{{/if}}
{{!-- Edit --}}
{{#if mode-edit}}
<div class="row">
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		<input type="hidden" name="score" value="1">
		<label for="question">Question :</label>
		<input name="question" type="text" class="form-control" id="question" value="{{ data.detail.question }}">
	</div>
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		<div class="radio">
			<label><input  type="radio" name="answer" value="0"><input name="0" type="text" class="form-control" id="0" value="{{ data.detail.choice.0.text }}"></label>
		</div>
		<div class="radio">
			<label><input  type="radio" name="answer" value="1"><input name="1" type="text" class="form-control" id="1" value="{{ data.detail.choice.1.text }}"></label>
		</div>
		<div class="radio">
			<label><input  type="radio" name="answer" value="2"><input name="2" type="text" class="form-control" id="2" value="{{ data.detail.choice.2.text }}"></label>
		</div>
		<div class="radio">
			<label><input  type="radio" name="answer" value="3"><input name="3" type="text" class="form-control" id="3" value="{{ data.detail.choice.3.text }}"></label>
		</div>
	</div>
</div>
{{/if}}