<!-- <div class="col-xs-6 col-sm-6 col-md-2-5 col-lg-1-5-s sm-margin white-card thin-border no-padding no-margin">
    <div class="card" >
        <a onclick="deleteLevelAl('{{ subject }}','{{ title }}')" class="close-thik" style="color:red"></a>
        <a href="backoffice/category/{{ subject }}/{{ title }}" >
            <img class="card-img-top fit-div-img-index" src="{{ img_url }}" alt="Card image cap">
        </a>
        <div class="card-block" style="padding:10px">
            <a href="backoffice/category/{{ subject }}/{{ title }}" >
                <h4 style="color:black;" class="card-title">{{ title }}</h4>
            </a>
            {{#if total_exam}}
            <p class="card-text text-muted">จำนวน {{ total_exam }} ชุด</p>
            {{else}}
            <p class="card-text text-muted">เร็ว ๆ นี้</p>
            {{/if}}
            {{> star-list n=rating}}
        </div>
    </div>
</div> -->

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-1-5-s">
  <div class="card white-card">
    <a onclick="deleteLevelAl('{{ subject }}','{{ title }}')" class="close-thik" style="color:red"></a>
    <a href="backoffice/category/{{ subject }}/{{ title }}" >
        <img class="card-img-top fit-div-img-index" src="{{ img_url }}" alt="Card image cap">
    </a>
    <div class="card-block" style="padding:10px">
        <a href="backoffice/category/{{ subject }}/{{ title }}" >
            <h4 style="color:black;" class="card-title">{{ title }}</h4>
        </a>
        {{#if total_exam}}
        <p class="card-text text-muted">จำนวน {{ total_exam }} ชุด</p>
        {{else}}
        <p class="card-text text-muted">เร็ว ๆ นี้</p>
        {{/if}}
        {{> star-list n=rating}}
    </div>
  </div>
</div>


<script type="text/javascript">
function deleteLevel(_sub,_lv){
    $.ajax({
        url: '/api/delete-level',
        type: 'DELETE',
        data : {
            subject : _sub,
            level : _lv
        },
        success: function(result) {
        // Do something with the result
            location.reload();
        }
    });
}

function deleteLevelAl(_sub,_lv) {
    if (confirm("Are you sure to delete this level ?") == true) {
        deleteLevel(_sub,_lv);
    } else {
    }
}
</script>
