{{!-- <script data-pace-options='{ "ajax": true , "eventLag" : true}' src="/javascripts/pace.min.js"></script>
<link href="/stylesheets/pace.css" rel="stylesheet" /> --}}

<div class="row no-padding no-margin">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xlg-6">
		{{ title }}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xlg-2">
		<a href="/backoffice/view-element/{{ _id }}/1" ><button type="button" class="btn">แก้ไข / เพิ่มเติม</button></a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xlg-2">
		<a href="/exam/{{ _id }}/do" ><button type="button" class="btn">ทำข้อสอบ</button></a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xlg-2">
		<button type="button" class="btn btn-danger" onclick="delAlert('{{ subject }}','{{ level }}','{{ _id }}')">ลบ</button>
	</div>
</div>

<script type="text/javascript">
function delExam(_sub,_lv,_examId){
	$.ajax({
		url: '/backoffice/add-exam/' + _sub + '/' + _lv,
		type: 'DELETE',
		data : {
			exam_id : _examId,
			subject : _sub,
			level : _lv
		},
		success: function(result) {
		// Do something with the result
			location.reload();
		}
	});
}

function delAlert(_sub,_lv,_examId) {
    if (confirm("Are you sure to delete it ?") == true) {
    	delExam(_sub,_lv,_examId);
    } else {
    }
}
</script>