<div class="row no-padding no-margin md-margin">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 no-padding no-margin">
		<b>{{ username }}</b> {{> star-list n = detail.rating}}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 no-padding no-margin">
		{{ detail.text }}
	</div>
</div>
{{!-- <div class="row no-padding no-margin">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		{{> star-list n = detail.rating}}
	</div>
</div> --}}
{{!-- <div class="row no-padding no-margin">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
		{{ detail.text }}
	</div>
</div> --}}