{{#loop n}}
{{!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xlg-1 no-padding no-margin"> --}}
	<span class="glyphicon glyphicon-star star" aria-hidden="true" ></span>
{{!-- </div> --}}
{{/loop}}