/*
 * Start Bootstrap - Heroic Features (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {

    background-color: #f4f4f4;
    font-family: 'Kanit', sans-serif;

}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 15px;
}

footer {
    margin: 50px 0;
}
.img-avatar {
    display: inline-block !important;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

.img-avatar.img-avatar-32 {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.img-avatar.img-avatar-48 {
    width: 48px;
    height: 48px;
    line-height: 48px;
}
.img-avatar.img-avatar-54 {
    width: 54px;
    height: 54px;
    line-height: 180px;
}

.img-avatar.img-avatar-96 {
    width: 96px;
    height: 96px;
    line-height: 96px;
}

.img-avatar.img-avatar-128 {
    width: 128px;
    height: 128px;
    line-height: 128px;
}

.img-avatar-thumb {
    margin: 0px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.38);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.thumbnail:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rating {
    float: left;
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #d58512;
    content: "\2605";
}/*
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}*/
.borderless td, .borderless th {
    border: none;
}

/*Profile User*/
.profile
{
	width: 100%;
	height: 98px;
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 2;
    background-image: url("/images/bg-line-head-exam.png");
	padding: 15px 15px 0px 15px;
	display: inline;
	color: #AEADB2;
}

.emphasis h2
{
    margin-bottom:0;
    }
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
/*EXAM CSS*/
.exam-box{
	border: 2px solid #8F8F8F;
    padding: 10px 40px;
    background: #fff;
    width: 100%;
    border-radius: 25px;
    margin-top: 3px;
    margin-bottom: : 3px;
    margin-left: : 3px;
    margin-right: : 3px;
}
.display-box{
	border: 2px solid #a1a1a1;
	float: right;
    padding: 3px;
    background: #fff;
    width: 100%;
    height: 100%;
	margin: 0px;
}
hr_1 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 30px solid #f7d200;
}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}
/* CountDown Timer */
div.fixed {
    position: fixed;
    top: 99px;
    right: 0px;
    z-index: 4;
	height: 100%;
}
div.fixed:hover{
	overflow-y: auto;
}
div.fixed-exam-set{
	position: fixed;
    top: 50%;
    left: 50%;
    z-index: 4;
}

/* Ex-Done */
.circle-graph .overall-main-box {
	width:290px;
	height:auto;
	background-color:#FFF;
	padding:2px;
	position:relative;
	box-shadow: 1px 1px 1px 1px #ccc;
}
.circle-graph .overral-inner {
	border-radius: 8px;
	background-color:#34495E;
}
.circle-graph .overall-text-box {
	height:40px;
	text-align:center;
	padding-top:20px;
	font-size: 29px;
	color: #4A4A4A;
	line-height: 22px;
	background-color:#FFF;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	font-family:'Aaargh';
}
.circle-graph #statistic-arc {
	margin-left:5px;
}


/* PIE CHART */

.pie-chart-h2{
	text-align: center;
}
.pie-wrapper{
	width: 460px;
	margin: 20px auto;
	height: auto;
	background-color: #FFF;
	color: #4378A4;
	padding: 2px;
	position: relative;
	box-shadow: 1px 1px 1px 1px #ccc;
}
.pie-wrapper-inner{
	width: 240px;
	margin: 3px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	background-color: #FFFBAE;
	color: white;
	display: inline-block;
}
.pie-data{
	display: inline-block;
	vertical-align: top;
	width: 190px;
	margin-left: 20px;
}
.pie-data ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Demo purposes only */
/* Exam - Done */
.no-pad{
  padding-left:0px;
  padding-right:0px;
}
/*


   5 columns grid for 'md' and 'lg' screens

   @tatygrassini


*/

@media (min-width: 768px) {
  .col-sm-1-5-s { width: 19%; }
  .col-sm-1-5 { width: 20%; }
  .col-sm-2-5 { width: 40%; }
  .col-sm-3-5 { width: 60%; }
  .col-sm-4-5 { width: 80%; }
  .col-sm-5-5 { width: 100%; }
}

@media (min-width: 992px) {
  .col-md-1-5-s { width: 19%; }
  .col-md-1-5 { width: 20%; }
  .col-md-2-5 { width: 40%; }
  .col-md-3-5 { width: 60%; }
  .col-md-4-5 { width: 80%; }
  .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
  .col-lg-1-5-s { width: 19%; }
  .col-lg-1-5 { width: 20%; }
  .col-lg-2-5 { width: 40%; }
  .col-lg-3-5 { width: 60%; }
  .col-lg-4-5 { width: 80%; }
  .col-lg-5-5 { width: 100%; }
}

/* Demo only, no need for this */

.show-grid [class^=col-] span,
.container-fluid .show-grid [class^=col-] {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  text-align: center;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

[class^=col-] {
  margin-bottom: 30px;
}

/* Ex-do */
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
      padding-buttom: 0px;
      background-color: #f1f1f1;
      min-height: 100%;
      width: 250px;
      border-left: 6px solid 1E1E1E;
      position: fixed;
      right:0px;
      top:0px;
      bottom: 10px;
      overflow-y: auto;
      z-index: 4;
      }



    /* Set black background color, white text and some padding */
  	.box-exam {
	color: black;
	background-color: white;
    display: display;
    width: 98%;
    padding: 35px;
    margin-top: 60px;
    margin-left: 45px;
    margin-right: 25px;
    margin-bottom: 45px;
	}

	/* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: 100%;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
   .box {
   		float: left;
   		width: 50px;
   		height: 50px;
   		margin: 1em;
	}
	.after-box {
		clear: left;
	}
	main a {
  background: black;
  color: white;
  padding: 40px 30px;
  text-decoration: none;
}
.box-detail-exam-rank{
	width: 100%;
	height:250px;
	box-sizing:border-box;
	border: 2px solid black;
	padding: 3%;
}
.box-list-exam-rank{
	width: 100%;
	height:250px;
	box-sizing:border-box;
	border: 2px solid black;
	padding-left: 18px;
	overflow: scroll;
}
.box-list-set{
	display: inline-block;
	border: 1px solid black;
}
.box-avatar-exam-rank{
	width: 100%;
	height:250px;
	box-sizing:border-box;
	border: 2px solid black;
	padding: 55px;
}
.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
