.btn.btn-square {
    border-radius: 0;
    border: 0;
}

hr {
    padding: 0px;
    margin: 0px;
}

.no-round {
    border-radius: 0;
}

.fit-div-img {
    max-width: 100%;
    max-height: 100%;
    /*height: 150px;*/
    /*width: 100%;*/
    /*display: block;*/
}

.fit-div-img-index {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
}

@media (max-width: 770px) {
  .card{
    margin: 15px;
  }
  .fit-div-img-index {
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      width: 100%;
      display: block;
  }
}

.fit-div-img-cat {
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.card:hover .overlay {
    opacity: 1;
    padding:5px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.thin-border {
    border: 1px solid rgba(34, 36, 38, .15);
}

.dashed-border {
    border: 1px dashed rgba(34, 36, 38, .15);
}

.white-card {
    background: white;
}

.no-padding {
    padding: 0
}

.no-margin {
    margin: 0
}

.xs-margin {
    margin: 2px
}

.sm-margin {
    margin: 5px
}

.md-margin {
    margin: 10px
}

.md-padding {
    padding: : 10px
}

.lg-padding {
    padding: : 50px
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.review-scroll-area {
    max-height: 300px;
    overflow-y: scroll;
}

.small-fontsize {
    font-size: small;
}

.large-fontsize {
    font-size: large;
}

.xlg-fontsize {
    font-size: x-large;
}

.xxlg-fontsize {
    font-size: xx-large;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star {
    /*color: #26B899;*/
    color: #FD7939;
    font-size: medium;
    font-weight: bold;
}

.big-star {
    /*color: #26B899;*/
    color: yellow;
    font-size: xx-large;
    font-weight: bold;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.h-li {
    display: inline;
}

#img-upload {
    width: 100%;
}

p {
    word-wrap: break-word
}

@media (max-width: 480px) {
    .clock {
        margin-right: 25%;
    }
    #sheet {
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
    .clock {
        margin-right: 30px;
    }
    #sheet {
        margin-top: 50px;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 768px) {
    .item-fix-h {
        height: 250px;
    }
}


/* Create By Naraku*/

.text-margin {
    margin: 15px 0px 10px 20px;
}

.text-padding {
    padding: 15px 0px 10px 20px;
}

[class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}
@media (max-width: 770px) {
  [class*='close-'] {
      color: #777;
      font: 14px/100% arial, sans-serif;
      position: absolute;
      right: 25px;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
      top: 20px;
  }
}

.close-classic:after {
    content: 'X';
    /* ANSI X letter */
}

.close-thin:after {
    content: '×';
    /* UTF-8 symbol */
}

.close-thik:after {
    content: '✖';
    /* UTF-8 symbol */
}
