body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* Ex-do CSS */

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
  	.box-exam {
    display: display;
    width: 90%;
    height: 80%;
    padding: 35px;
    margin: 45px;
    border: 3px solid #73AD21;  
}

    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

a {
  color: #00B7FF;
}
/* ImgLogo */

div.img-logo {
	width: 70px; 
	height: 60px; 
	margin-top:-10px;
}
