<div class="container" style="margin-top:90px;">
	<div class="row text-center">
		<form method="post" action="/edit-profile">
			<div class="form-group col-md-offset-4 col-lg-offset-4 col-xlg-offset-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xlg-4 col-xxlg-4">
				<input type="text" class="form-control input-lg" id="usr" name="usr" placeholder="Name" value="{{ data.name}}">
			</div>
			<br>
			<br>
			<br>
			<p class="text-center xlg-fontsize col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 col-xxlg-12">จำนวนเหรียญ {{ data.coin }}</p>
			<br>
			<br>
			<br>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 col-xxlg-12">
				<button type="submit">แก้ไข</button>
				<button type="button">ยกเลิก</button>
			</div>
		</div>
	</form>
</div>
