<div class="container-fluid">
	{{> header}}
</div>
<div class="container" style="margin-top:90px;">
	<div class="row equal">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xlg-7 thin-border md-margin white-card no-padding no-margin">
			<div class="row no-padding no-margin">
				<img class="img-responsive col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xlg-8 no-padding no-margin" src="{{ data.detail.img_url }}">
				<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xlg-4 text-padding">
					<b>รายละเอียด</b>
					<br> {{ data.detail.description }}
				</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xlg-4 thin-border md-margin white-card">
			<img src="https://s3-ap-southeast-1.amazonaws.com/com.sachool.www/users/Ub4bb0cf130b4bb4e8c6b106989ae63c1/user-profile" class="img-circle
			col-xs-offset-4 col-xs-4
			col-sm-offset-4 col-sm-4
			col-md-offset-4 col-md-4
			col-lg-offset-4 col-lg-4
			col-xlg-offset-4 col-xlg-4" style="margin-bottom:5px;margin-top:10px;">
			<h4 class="text-center xlg-fontsize
			col-xs-12
			col-sm-12
			col-md-12
			col-lg-12
			col-xlg-12">{{ data.user.username }}</h4>
			<p class="text-center lg-fontsize
				col-xs-12
				col-sm-12
				col-md-12
				col-lg-12
			col-xlg-12">จำนวนเหรียญ {{ data.user.coin }}</p>
			<div class="row no-padding no-margin text-center">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
					<center>
						<div class="table-responsive" style="margin-left:35%;margin-right:15%;">
							<table class="table">
								<tr>
									<td>
										<span class="glyphicon glyphicon-lock" aria-hidden="true" style="font-size: 30px;"></span>
									</td>
									<td>
										<button onclick="buyAllAlert('{{ data.subject }}', '{{ data.level }}')" class="btn">ปลดล๊อคทั้งชุด</button>
									</td>
								</tr>
							</table>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="row equal">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xlg-7 thin-border md-margin white-card text-padding">
			<p><b>ชุดข้อสอบ</b></p>
			<br>
			{{#each data.exam_list}}
				{{> exam-list-item sub=subject lv=level }}
			{{/each}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xlg-4 thin-border md-margin white-card review-scroll-area">
			{{#each data.reviews}}
				{{> review-list-item }}
			{{/each}}
		</div>
	</div>
</div>
<script type="text/javascript">
	function unlockAll(_sub, _lv) {
		$.ajax({
			url: '/api/unlockall/' + _sub + '/' + _lv,
			type: 'POST',
			success: function(result) {
				// Do something with the result
				location.reload();
			}
		});
	}

	function buyAllAlert(_sub, _lv) {
		if (confirm("Buy all confirm ?") == true) {
			unlockAll(_sub, _lv);
		} else {}
	}
</script>
