<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-rating.css" rel="stylesheet">
<div class="container-fluid">
	{{> header}}
</div>
<div class="container" style="margin-top:90px;">
	<div class="row text-center">
		<b></b><h1>score : {{ data.score }}/{{ data.total }}</h1></b>
	</div>
	<br>
	<div class="row text-center">
		<input type="hidden" name="star" class="rating" data-filled="glyphicon glyphicon-star big-star" data-empty="glyphicon glyphicon-star-empty big-star"/>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-8 col-sm-8 col-md-8 col-lg-offset-4 col-lg-4 col-xlg-offset-4 col-xlg-4">
			<input name="comment" type="text" class="form-control" id="comment" placeholder="comment">
		</div>
	</div>
	<br>
	<div class="row text-center">
		<input type="button" name="submit" onclick="submitReview('{{ data.sub }}','{{ data.level }}','{{ data.exam_id }}')" class="btn btn-success" value="Submt">
	</div>
</div>
<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-rating.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-rating.min.js"></script>

<script type="text/javascript">

function submitReview(_sub,_lv,_examId){

	var rate = $('input[name=star]').val();
	var text = $('input[name=comment]').val();

	$.ajax({
		url: '/api/add-review',
		type: 'POST',
		data : {
			sub: _sub,
        	lv: _lv,
        	exam_id: _examId,
            rating:  rate,
            text: text
		},
		success: function(result) {
			// Do something with the result
			window.location.replace('/category/' + _sub + '/' + _lv);
		}
	});
}
</script>
