<link rel="stylesheet" href="/stylesheets/flipclock.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/javascripts/flipclock.js"></script>
<div id="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper" style="border-top:6px solid #1C1C1C;border-left:8px solid #1C1C1C">
		<ul class="sidebar-nav nav-pills" style="display:table;">
			<div class="btn-group btn-group-justified">
				<a href="#" class="btn btn-default btn-square" onclick="start()"
					style="
					color:#484848;
					border-right:1px solid #DDDDDD;
					border-bottom:1px solid #DDDDDD;">
					<span class="glyphicon glyphicon-play"> เริ่ม</span><br>
				</a>
				<a href="#" class="btn btn-default btn-square" onclick="pause()"
					style="
					color:#484848;
					border-right:1px solid #DDDDDD;
					border-bottom:1px solid #DDDDDD;">
					<span  class="glyphicon glyphicon-pause"> หยุด</span><br>
				</a>
				<a href="#" class="btn btn-default btn-square" onclick="save()"
					onclick="document.getElementById('examSend').submit();"
					style="
					color:#484848;
					border-right:1px solid #DDDDDD;
					border-bottom:1px solid #DDDDDD;">
					<span  class="glyphicon glyphicon-list"> บันทึก</span><br>
				</a>
				<a href="#" class="btn btn-default btn-square" onclick="submit()"
					style="
					color:#484848;
					padding-right:100px;
					border-right:1px solid #DDDDDD;
					border-bottom:1px solid #DDDDDD;">
					<span  class="glyphicon glyphicon-check"> ส่ง</span><br>
				</a>
			</div>
			{{#each data}}
			{{> nav-item}}
			{{/each}}
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->
	<!-- Page Content -->
	<div id="page-content-wrapper" style="background-color:#525659;">
		<div class="container-fluid"
			style="
			background-image: url('https://s3-ap-southeast-1.amazonaws.com/com.sachool.www/public/img/bg-line.png'),url('https://s3-ap-southeast-1.amazonaws.com/com.sachool.www/public/img/bg.png');
			{{!-- background-repeat: repeat-x; --}}
			{{!-- height: 110px; --}}
			background-repeat: repeat-y,repeat;
			background-repeat-x: no-repeat, repeat;
			background-repeat-y: repeat, repeat;
			{{!-- padding: 15px 0px 0px 50px; --}}
			{{!-- display:table; --}}
			{{!-- width:100% --}}">
			<div class="row">
				<img src="https://s3-ap-southeast-1.amazonaws.com/com.sachool.www/users/Ub4bb0cf130b4bb4e8c6b106989ae63c1/user-profile"
				class="img-circle hidden-xs hidden-sm col-md-1 col-lg-1 col-xlg-1"
				{{!-- width="100" height="100" --}}
				style="margin : 10px;
				margin-left : 10px">
				<h4 style="
				color:white;
				top : 10px;"
				class="hidden-xs hidden-sm col-md-3 col-lg-3 col-xlg-3">Supanat</h1>
				<h2 style="
				color:white;
				top : 10px;"
				class="text-center col-xs-12 col-sm-5 col-md-3 col-lg-3 col-xlg-3">{{ profile.title }}</h1>
				<div class="clock" style="
					float: right;
					z-index:1;
					width: 250px;">
				</div>
			</div>
		</div>
		<a href="#menu-toggle"
			class="btn  btn-square fa fa-angle-left"
			id="menu-toggle"
			style="
			float : right;
			margin-top : -95px;
			margin-right : -3px;
			z-index : 2;
			color:#EFEFEF;
			background-color:#1C1C1C;
			border-left:2px solid #797474;
			border-top:2px solid #797474;
			border-bottom:2px solid #797474;
			position:relative;
			display:table-cell;">
		</a>
		<div id="sheet" class="container-fluid" style="
			margin-top: 50px;
			margin-right: 50px;
			margin-left: 50px;
			padding-bottom: 35px;
			background-color: #ffffff">
			<form id="exam-sheet" name="form" action="" method="post" style="padding: 20px 0px 0px 30px">
				{{#each data}}
				{{> (lookup . 'type') id=_id data=detail mode-do=true}}
				<br>
				{{/each}}
				<br>
				<button type="sumbit" class="btn" id="form-submit">sumit</button>
			</form>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/javascripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- Menu Toggle Script -->
<script>
var expanded = false;
$("#menu-toggle").click(function(e) {
	e.preventDefault();
	$("#wrapper").toggleClass("toggled");
	if(expanded == false){
		$("#menu-toggle").removeClass("fa-angle-left").addClass("fa-angle-right");
	} else {
		$("#menu-toggle").removeClass("fa-angle-right").addClass("fa-angle-left");
	}
	expanded = !expanded;
});
$("#menu-toggle").click();
</script>
{{!-- Countdown --}}
<script type="text/javascript">
var clock;
$("#exam-sheet :input").attr("disabled", true);
// $("#exam-sheet").css('opacity', 0);
// $("#sheet").css('background-color', 'black');
$(document).ready(function() {
	clock = new FlipClock($('.clock'), {{ profile.time }}, {
		clockFace: 'MinuteCounter',
		countdown : true,
		autoStart: false,
		callbacks : {
			init : function (){
				console.log('init');
			},
			stop : function() {
				console.log(clock.getTime().time)
				if(clock.getTime().time == 0){
					console.log('out');
					$( "#exam-sheet" ).submit();
				}
			}
		}
	});
});
function start(){
	clock.start(function(){
		$("#exam-sheet :input").attr("disabled", false);
		$("#exam-sheet").css('opacity', 1);
		$("#sheet").css('background-color', 'white');
	});
}
function pause(){
	clock.stop(function(){
		$("#exam-sheet :input").attr("disabled", true);
		$("#exam-sheet").css('opacity', 0);
		$("#sheet").css('background-color', 'black');
	});
}
function save(){
}
function submit(){
	$( "#exam-sheet" ).submit();
}
</script>