<div class="container-fluid">
	{{> header}}
</div>
<div class="container" style="margin-top:90px;">
	{{#each data}}
	<div class="row">
		<h3>{{ subject }}</h3>
		<br>
		{{#each level}}
		{{> exam-level-item subject=../subject }}
		{{/each}}
	</div>
	{{/each}}
</div>