{{> header}}
<div class="container-fluid" style="margin-top: 90px;">
	<div class="col-sm-3 col-md-3 col-lg-3"></div>
	<div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
		<div class="profile-sidebar">
			<!-- SIDEBAR USERPIC -->
			<div class="profile-userpic">
				<center>
					<img src="https://s3-ap-southeast-1.amazonaws.com/com.sachool.www/users/Ub4bb0cf130b4bb4e8c6b106989ae63c1/user-profile"
					class="img-circle">
				</center>
			</div>
			<!-- END SIDEBAR USERPIC -->
			<!-- SIDEBAR USER TITLE -->
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">
					<h2 class=" xxlg-fontsize"><b>ชื่อ : {{ data.name }}</b></h2>
				</div>
				<div class="profile-usertitle-job">
					<p class=" xlg-fontsize">จำนวนเหรียญ : {{ data.coin }}</p>
				</div>
				<a href="/edit-profile">
					<button class="btn btn-info" style="width:100%;margin-bottom:-25px;">แก้ไขข้อมูล</button>
				</a>
				<!-- <div class="row text-center">
					<a href="/edit-profile"><button>แก้ไขข้อมูล</button></a>
				</div> -->
			</div>
		</div>
	</div>
	<div class="col-sm-3 col-md-3 col-lg-3"></div>
</div>
</div>
