<div class="container-fluid">
	{{> header}}
</div>
<div class="container" style="margin-top:90px;">
	<form name="form" action="/backoffice/add-exam/{{ data.subject }}/{{ data.level }}" method="post">
		<div class="form-group">
			<label for="subject">Subject :</label>
			<input name="subject" type="text" class="form-control" id="subject" value="{{ data.subject }}" readonly>
		</div>
		<div class="form-group">
			<label for="level">Level :</label>
			<input name="level" type="text" class="form-control" id="level" value="{{ data.level }}" readonly>
		</div>
		<div class="form-group">
			<label for="title">Title :</label>
			<input name="title" type="text" class="form-control" id="title">
		</div>
		<div class="form-group">
			<label for="detail">Detail :</label>
			<input name="detail" type="text" class="form-control" id="detail">
		</div>
		<div class="form-group">
			<label for="time">Time :</label>
			<input name="time" type="number" class="form-control" id="time">
		</div>
		<div class="form-group">
			<label for="price">Price :</label>
			<input name="price" type="number" class="form-control" id="price">
		</div>
		<div class="form-group">
			<label for="postBy">Post by :</label>
			<input name="postBy" type="text" class="form-control" id="postBy" value="{{ data.username }}" readonly>
		</div>
		<button type="sumbit" class="btn btn-primary" >Create</button>
	</form>
</div>