<div class="container-fluid">
	{{> header}}
</div>
<div class="container" style="margin-top:90px;">
	<form name="form" action="/backoffice/add-element/{{ data.exam_id }}" method="post">
		<div class="row">
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xlg-6">
				<label for="exam_id">Exam id :</label>
				<input name="exam_id" type="text" class="form-control" id="exam_id" value="{{ data.exam_id }}" readonly>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xlg-6">
				<label for="postBy">Post by :</label>
				<input name="postBy" type="text" class="form-control" id="postBy" value="{{ username }}" readonly>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xlg-6">
				<label for="order">Order :</label>
				<input name="order" type="text" class="form-control" id="order" value="{{ data.order }}" readonly>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xlg-6">
				<label for="type">Type :</label>
				<input name="type" type="text" class="form-control" id="type" value="{{ data.type }}" readonly>
			</div>
		</div>
		{{#switch data.type}}
		{{#case "topic"}}
		{{> backoffice/element-topic-item mode-add=true}}
		{{/case}}
		{{#case "question-choice"}}
		{{> backoffice/element-question-choice-item mode-add=true}}
		{{/case}}
		{{/switch}}
		<button type="sumbit" class="btn btn-primary" >Add</button>
	</form>
</div>