<div class="container-fluid">
	{{> header}}
</div>
<div class="container" style="margin-top:90px;">
	<form name="form" action="/backoffice/edit-level/{{ data.subject }}/{{ data.lv.title }}" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="subject">Subject :</label>
			<input name="subject" type="text" class="form-control" id="subject" value="{{ data.subject }}" readonly>
		</div>
		<div class="form-group">
			<label for="level">Level :</label>
			<input name="level" type="text" class="form-control" id="level" value="{{ data.lv.title }}" readonly>
		</div>
		<div class="form-group">
			<label for="description">Description :</label>
			<textarea name="description" rows="5" class="form-control" id="description">{{ data.lv.description }}</textarea>
		</div>
		<div class="form-group">
			<label>Upload Image</label>
			<div class="input-group">
				<span class="input-group-btn">
					<span class="btn btn-default btn-file">
						Browse… <input name="img" type="file" id="imgInp">
					</span>
				</span>
				<input type="text" class="form-control" readonly>
			</div>
			<img id='img-upload'/>
		</div>
		<button type="Submit" class="btn btn-primary">Create</button>
	</form>
</div>

<script src="/javascripts/upload-img.js"></script>