<div class="container-fluid">
	{{> header}}
</div>
<div class="container" style="margin-top:90px;">
	<div class="row equal">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xlg-8 thin-border md-margin white-card no-padding no-margin">
			<a href="/backoffice/edit-level/{{ data.subject }}/{{ data.level }}">
				<div class="row no-padding no-margin">
					<img class="fit-div-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xlg-6 no-padding no-margin" src="{{ data.detail.img_url }}">
					<p class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xlg-6 text-padding">
						<b>รายละเอียด</b>
						<br>
						{{ data.detail.description }}
					</p>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xlg-3 text-center thin-border md-margin white-card">
			<h4 class="text-center xxlg-fontsize">{{ data.user.username }}</h4>
			<p class="text-center xlg-fontsize">จำนวนเหรียญ {{ data.user.coin }}</p>
			<div class="row no-padding no-margin text-center">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xlg-2
					col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xlg-offset-2">
					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
					<a><button onclick="unAlert('{{ data.subject }}' , '{{ data.level }}')" class="btn">ปลดล๊อคทั้งชุด</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row equal">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xlg-8 thin-border md-margin white-card text-padding">
			<p><b>ชุดข้อสอบ</b></p>
			<br>
			{{#each data.exam_list}}
			{{> backoffice/exam-list-item }}
			{{/each}}
			{{> backoffice/add-exam-list-item sub=data.subject lv=data.level}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xlg-3 thin-border md-margin white-card review-scroll-area">
			{{#each data.reviews}}
			{{> backoffice/review-list-item }}
			{{/each}}
		</div>
	</div>
</div>
<script type="text/javascript">
function unlockAll(_sub,_lv){
	$.ajax({
		url: '/api/unlockall/' + _sub + '/' + _lv,
		type: 'post',
		success: function(result) {
		// Do something with the result
			location.reload();
		}
	});
}
function unAlert(_sub,_lv) {
if (confirm("Are you sure to unlock all ?") == true) {
	delExam(_sub,_lv,_examId);
} else {
}
}
</script>