<div class="container-fluid">
	{{> header}}
</div><div class="container" style="margin-top:90px;">
{{#each data}}
<div class="row">
	<h3>{{ subject }}</h3>
	<br>
	{{#each level}}
	{{> backoffice/exam-level-item subject =../subject}}
	{{/each}}
	{{> backoffice/add-exam-level-item subject =../subject}}
</div>
{{/each}}
</div>