<div class="container-fluid">
	{{> header}}
</div>
<div class="container" style="margin-top:90px;">
	<div class="row md-margin">
		{{#loop data.amount_page}}
		{{> backoffice/page-link n=this exam-id=../data.exam_id}}
		{{/loop}}
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xlg-7 md-margin thin-border white-card no-padding no-margin">
			{{#each data.exam_list }}
			<div class="dashed-border sm-margin">
				{{> (lookup . 'type') id=_id data=detail mode-view=true}}
			</div>
			{{/each}}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xlg-4 md-margin no-padding no-margin">
			<div class="row no-padding no-margin">
				<form name="form" action="/backoffice/add-element/{{ data.exam_id }}" method="get">
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xlg-10 no-padding no-margin">
						<select name="subject" class="form-control " id="subject">
							{{!-- {{#each data}} --}}
							<option value="topic">ข้อความ</option>
							<option value="question-choice" >คำถามช๊อย</option>
							{{!-- {{/each}} --}}
						</select>
					</div>
					{{!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xlg-2 no-padding no-margin"> --}}
						<button type="submit" class="btn col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xlg-2">เพิ่ม</button>
					{{!-- </div> --}}
				</form>
			</div>
			<br>
			<form name="form" action="" method="post">
				<div class="row no-padding no-margin white-card thin-border">
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
						<label for="exam_title">Title :</label>
						<input name="exam_title" type="text" class="form-control" id="exam_title" value="{{ data.profile.title }}">
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
						<label for="exam_detail">Detail :</label>
						<textarea name="exam_detail" rows="2" class="form-control" id="exam_detail" >{{ data.profile.detail }}</textarea>
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
						<label for="exam_price">Price :</label>
						<input name="exam_price" type="number" class="form-control" id="exam_price" value="{{ data.profile.price }}">
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12">
						<label for="exam_time">Time :</label>
						<input name="exam_time" type="number" class="form-control" id="exam_time" value="{{ data.profile.time }}">
					</div>
					<button type="sumbit" class="btn col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12" >แก้ไขทันที</button>
				</div>
			</form>
		</div>
	</div>
</div>